body {
    margin: 0;
    overflow: hidden;
    font-family: Arial;
}

/* Slideshow */
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 18s infinite;
}

@keyframes slide {
    0% { background-image: url("images/bg1.jpg"); }
    33% { background-image: url("images/bg2.jpg"); }
    66% { background-image: url("images/bg3.jpg"); }
    100% { background-image: url("images/bg1.jpg"); }
}

/* Barre de chargement */
#loading-bar-container {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 20px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    z-index: 2; /* au-dessus du fond */
}

#loading-bar {
    height: 100%;
    width: 0%;
    background: #d8c7a8;
    border-radius: 10px;
    transition: width 0.3s;
    z-index: 2; /* au-dessus du fond */
}

#percent {
    position: fixed;
    bottom: 155px;
    left: calc(50% + 31%);
    color: white;
    font-weight: bold;
    z-index: 2; /* au-dessus du fond */
}

/* Did you know text */
#didyouknow {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    text-shadow: 0 0 5px black;
    z-index: 2; /* au-dessus du fond */
}

/* Ton image UI */
#ui-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* taille écran */
    height: 100vh;  /* taille écran */
    object-fit: contain; 
    pointer-events: none; /* clics passent au travers */
    z-index: 1; /* au-dessus du fond */
}
